*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
}

.top-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 2rem;
    background-color: #080808;
    color: white;
}

.content-container{
    display: flex;
    width: 90%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.profile-picture{
    height: 100%;
    width: 60%;
    box-shadow: -9px -10px 5px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: -9px -10px 5px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: -9px -10px 5px 0px rgba(255,255,255,0.75);
}

.profile-picture img{
    height: 100%;
}

.profile-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    margin-top: 5rem;
    box-shadow:5px 5px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow:5px 5px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(255,255,255,0.75);
    background-color: rgb(219, 218, 218);

}

h1{
    font-size: 5rem;
    color: #1A1A1A;
    text-shadow: 3px 3px rgba(43, 43, 43, 0.404);
}

p{
    font-size: 1.5rem;
    color: #1A1A1A;
    margin-top: 1.5rem;
}

.plus-margin{
    margin-top: 8rem;
    margin-bottom: 5rem;
}

main{
    width: 50%;
    height: 100%;
    border: solid red;
    background-color: rgb(175, 175, 175);
    padding: 2rem;
}

aside{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

.story-title{
    font-size: 4rem;
}

.story-desc{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.skill{
    border: solid blue;
    height: 48%;
}

.contact{
    border: solid red;
    height: 48%;
}